{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - Add employee{% endblock %}

{% block body %}
    <h5>Add employee</h5>

    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if is_granted('ROLE_ADMIN') %}
        <script type="text/javascript" src="{{ asset('js/select2Employee.js') }}"></script>

        <script>
            $(document).ready(function() {
                initEmployeeSelect2('.select-entity');
            })
        </script>
    {% endif %}
    
{% endblock %}